/* Stylesheet created by Connor Vogelaar */
@import url("style.css");
/* Page heading */
.page-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #8F2F09;
}

/* Intro list */
.main ul {
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 20px;
}

/* Menu sections */
.menu-section {
    margin-bottom: 45px;
    padding-bottom: 10px;
}

/* collapse all menu items by default */
.menu-section:not(.open) .menu-items {
    display: none !important;
}

/* soups start open */
.menu-section.open .menu-items {
    display: flex;
}

/* Section headers */
.item-heading {
    font-size: 22px;
    margin-bottom: 10px;
    color: #674110;
    border-bottom: 2px solid #c68a68;
    padding-bottom: 5px;
    font-weight: bold;
}

/* Menu items */
.menu-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px dashed #67411044;
}

.menu-items span:first-child {
    max-width: 70%;
}

.menu-items span:last-child {
    font-weight: bold;
    color: #8F2F09;
    text-align: right;
    min-width: 80px;
}

/* icon styling */
.toggle-icon {
    font-weight: bold;
    margin-left: 10px;
    color: #674110;
    transition: 0.2s ease;
}

/* rotate / change symbol when section is open */
.menu-section.open .toggle-icon {
    content: "-";
}

/* footer */
.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
    opacity: 0.6;
}

/* mobile device layout */
@media (max-width: 1100px) {
    .main {
        padding: 40px 20px;
    }
    
    /* Resize logo */
    .navi img {
        width: 70%;
        max-width: 300px;
        margin: 25px auto;
    }
}

@media (max-width: 700px) {
    .menu-items {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-items span:last-child {
        margin-top: 5px;
        text-align: left;
    }
}
