/* Stylesheet created by Connor Vogelaar */
@import url("style.css");
/* Left navigation panel */
.navi {
    text-align: center;
    background-color: #C68A68;
    padding-bottom: 50px;
}

.navi img {
    width: 500px;
    max-width: 100%;
}

/* Right panel */
.main {
    background-color: #d1c9c9;
    padding: 80px 100px;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}


/* Page heading */
.page-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #8F2F09;
}

/* Intro list */
.main ul {
    font-size: 16px;
    margin-bottom: 30px;
    padding-left: 20px;
}

/* Menu sections */
.menu-section {
    margin-bottom: 45px;
    padding-bottom: 10px;
}

/* Section headers */
.item-heading {
    font-size: 22px;
    margin-bottom: 10px;
    color: #674110;
    border-bottom: 2px solid #c68a68;
    padding-bottom: 5px;
    font-weight: bold;
}

/* Menu items */
.menu-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px dashed #67411044;
}

.menu-items span:first-child {
    max-width: 70%;
}

.menu-items span:last-child {
    font-weight: bold;
    color: #8F2F09;
    text-align: right;
    min-width: 80px;
}

/* footer */
.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
    opacity: 0.6;
}

/* mobile device layout */
@media (max-width: 1100px) {

/* Reduce right-panel padding */
    .main {
        padding: 40px 20px;
    }
    
    /* Resize logo */
    .navi img {
        width: 70%;
        max-width: 300px;
        margin: 25px auto;
    }
}
@media (max-width: 700px) {
 /* Stack menu item text */
    .menu-items {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-items span:last-child {
        margin-top: 5px;
        text-align: left;
    }
}
